<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Alpakowy Bazarek</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>Alpakowy Bazarek</h1>
    <nav>
        <a href="/">Dostępne alpaki</a> |
        <a href="/register">Utwórz konto</a> |
        <a href="/users">Użytkownicy</a> |
        <a href="/alpaca/new">Dodaj alpakę</a> |
        <a href="/buy">Kup alpakę</a> |
        <a href="/orders">Historia zakupów</a>
    </nav>
    <hr>
</header>
<main>
